* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFAF3;
    background-image: url(./images/grapes.png);
    background-size: 660px auto;
    background-repeat: no-repeat;
    background-position: top right;

    header {
        padding: 43px 0 43px;
        margin-left: 180px;
        border-bottom: 1px solid #C08D5D;
        max-width: 470px;

        .container {
            max-width: 1140px;
            margin: auto;

            .logo {
                display: inline-block;
                vertical-align: middle;
            }
    
            nav {
                margin-left: 83px;
                display: inline-block;
                vertical-align: middle;

                li {
                    display: inline-block;
                    margin: 0px 40px 0 0;

                    a {
                        display: inline;
                        margin-right: 15px;
                        font-family: 'Open Sans', sans-serif;
                        text-decoration: none;
                        color: #000000;

                        &:hover {
                            color: #C08D5D;
                        }

                        img {
                            width: 30px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    main {
        margin: 137px 0 72px 0;

        .container {
            max-width: 1140px;
            margin: auto;

            h2 {
                font-family: 'Yeseva One';
                font-weight: 400;
                font-size: 50px;
                color: #3F4042;
                line-height: 57px;

                &:after {
                    content: url('./images/logo2.svg');
                    margin-left: 8px;
                }
            }

            h1 {
                font-family: 'Yeseva One';
                font-weight: 400;
                font-size: 70px;
                color: #3F4042;
                line-height: 80px;
                text-transform: uppercase;
            }

            .wave-line{
                margin: 45px 0 25px 0;

                .whiteline {
                    display: none;
                }
            }

            p {
                padding: 0 610px 0 0;
                font-family: 'Open Sans';
                color: #3F4042;
                letter-spacing: 1px;
            }

            .link-btn {
                display: inline-block;
                border: 2px solid #C08D5D;
                color: #3F4042;
                font-size: 20px;
                letter-spacing: 1px;
                text-decoration: none;
                padding-left: 15px;
                margin-top: 75px;
                line-height: 65px;
                font-family: 'Open Sans';

                &:after {
                    content: url('./images/arrow.svg');
                    display: inline-block;
                    width: 59px;
                    height: 65px;
                    background-color: #C08D5D;
                    color: #fff;
                    line-height: 64px;
                    text-align: center;
                    margin-left: 11px;
                }
            }

            .mouse {
                display: block;
                text-align: center;
                margin-top: 82px;
            }
        }
    }
}

.dark-theme {
    background-color: #3F4042;
    background-image: url(./images/grapes.png);
    background-size: 660px auto;
    background-repeat: no-repeat;
    background-position: top right;

    header {
        padding: 43px 0 43px;
        margin-left: 180px;
        border-bottom: 1px solid #C08D5D;
        max-width: 470px;

        .container {
            max-width: 1140px;
            margin: auto;

            .logo {
                display: inline-block;
                vertical-align: middle;
            }
    
            nav {
                margin-left: 83px;
                display: inline-block;
                vertical-align: middle;

                li {
                    display: inline-block;
                    margin: 0px 40px 0 0;

                    a {
                        display: inline;
                        margin-right: 15px;
                        font-family: 'Open Sans', sans-serif;
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            color: #C08D5D;
                        }
                    }
                }
            }
        }
    }

    main {
        margin: 137px 0 72px 0;

        .container {
            max-width: 1140px;
            margin: auto;

            h2 {
                font-family: 'Yeseva One';
                font-weight: 400;
                font-size: 50px;
                color: #ffff;
                line-height: 57px;

                &:after {
                    content: url('./images/logo2.svg');
                    margin-left: 8px;
                }
            }

            h1 {
                font-family: 'Yeseva One';
                font-weight: 400;
                font-size: 70px;
                color: #fff;
                line-height: 80px;
                text-transform: uppercase;
            }

            .wave-line{
                // margin: 45px 0 25px 0;
                .whiteline {
                    display: block;
                }
                .line {
                    display: none;
                }
                
            }

            p {
                padding: 0 610px 0 0;
                font-family: 'Open Sans';
                color: #fff;
                letter-spacing: 1px;
            }

            .link-btn {
                display: inline-block;
                border: 2px solid #C08D5D;
                color: #fff;
                font-size: 20px;
                letter-spacing: 1px;
                text-decoration: none;
                padding-left: 15px;
                margin-top: 75px;
                line-height: 65px;
                font-family: 'Open Sans';

                &:after {
                    content: url('./images/arrow.svg');
                    display: inline-block;
                    width: 59px;
                    height: 65px;
                    background-color: #C08D5D;
                    color: #fff;
                    line-height: 64px;
                    text-align: center;
                    margin-left: 11px;
                }
            }

            .mouse {
                display: block;
                text-align: center;
                margin-top: 82px;
            }
        }
    }
}