.container-video {
    max-width: 1400px;
    width: 98%;
    /* overflow: hidden; */
    position: relative;
}

.video-play {
    position: absolute;
    z-index: 1;
    top: 55%;        
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}

.video-play svg:hover path {
    fill: #BDAE82;
    transition: .2s;
}

.container-video.fullscreen {
    max-width: 100%;
    width: 98%;
    /* height: 50vh; */
}

.container-video video {
    width: 100%;
}

.video__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.08s ease;
}

.container-video.show-controls .video__wrapper {
    bottom: 0px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.15s ease;
}

.video__wrapper::before {
    content: "";
    bottom: 0px;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: calc(100% + 35px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.video-timeline {
    height: 7px;
    width: calc(100% - 26px);
    cursor: pointer;
    margin: 0 auto;
}

.video-timeline  .progress-area {
    height: 3px;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
}

.progress-area span {
    position: absolute;
    left: 50%;
    top: -25px;
    color: #ffffff;
    font-size: 13px;
    transform: translateX(-50%);
}

.progress-area .progress-bar {
    width: 50%;
    height: 100%;
    background: #BDAE82;
    position: relative;
}

.progress-area .progress-bar::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    height: 13px;
    width: 13px;
    background: inherit;
    border-radius: 50%;
    transform: translateY(-50%);
}

.progress-area span, .progress-area .progress-bar::before {
    display: none;
}

.video-timeline:hover .progress-area span,
.video-timeline:hover .progress-area 
.progress-bar::before {
    display: block;
}

.video-controls {
    padding: 5px 20px 10px;
}

.video-controls, .video-timer, .options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-controls .options {
    width: 100%;
}

.video-controls .options:first-child {
    justify-content: flex-start;
}

.video-controls .options:last-child {
    justify-content: flex-end;
}

.options button {
    width: 40px;
    height: 40px;
    border: none;
    color: #ffffff;
    font-size: 19px;
    background: none;
    cursor: pointer;
}

.options button :where(i, span) {
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.options input {
    height: 4px;
    max-width: 75px;
}

.options .video-timer {
    font-size: 14px;
    color: #ffffff;
    margin-left: 15px;
}

.video-timer .separator {
    font-size: 16px;
    margin: 0 5px;
    font-family: 'Inter';
}

.playback-content {
    position: relative;
}

.playback-content  .speed-options {
    position: absolute;
    background: #ffffff;
    bottom: 40px;
    left: -40px;
    width: 95px;
    pointer-events: none;
    opacity: 0;
    list-style: none;
    border-radius: 4px;
    transition: opacity 0.3s ease;
}

.playback-content .speed-options.show {
    opacity: 1;
    pointer-events: auto;
}

.speed-options li {
    font-size: 14px;
    padding: 5px 0 5px 15px;
    cursor: pointer;
}

.speed-options li.active-speed {
    color: #ffffff;
    background: #BDAE82;
}

@media screen and (max-width:768px) {
    .video-play {
        top: 65%;        
    }

    .options button {
        width: 45px;
        height: 45px;
        border: none;
        color: #ffffff;
        font-size: 30px;
        background: none;
        cursor: pointer;
    }

    span.material-icons {
        font-size: 30px;
    }

    span.material-symbols-rounded {
        font-size: 30px;
    }

    .options .video-timer {
        font-size: 18px;
    }

    .video-timeline  .progress-area {
        height: 4px;
    }    
}
