* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
}

.open__burger__menu {
    opacity: 1;
    background-color: #000;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-image: url(images/menu-icon.png);
    background-size: cover;
    transition: .3s;
}

.burger-menu {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    background-color: #000;
    height: 100vh;
    width: 0;
    transition: .5s;
}

.burger-menu a {
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.active {
    width: 250px;
}
