* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.widget {
    display: flex;
    flex-direction: column;

}

#current {
    background: #6C97CA;
    padding: 10px;

}

#forecast {
    border: 2px solid #6C97CA;
    padding: 10px;
}